# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environments
radiomics-env/
venv/
.env/

# VS Code
.vscode/
*.code-workspace

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Radiomics output files
radiomics_full_features.csv
radiomics_features.csv
radiomics_list.csv
radiomics_fullimage.csv
