# Ignore radiology data
*.nii
*.nii.gz
*.dcm
*.nrrd
*.mhd
*.png

# Ignore generated outputs
radiomics_features.csv
radiomics_full_features.csv
radiomics_fullimage.csv
radiomics_list.csv

# Ignore masks
masks/

# Ignore personal notes
Notes.txt

# Python ignores
__pycache__/
*.pyc
*.pyo
.env
*.env
radiomics-env/
